* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  user-select: none;
  transition: all 0.3s ease;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
}
